.control {
}

.control_ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 141px;
  /* width: 1280px;
  margin: 0 auto; */
}

.control_right {
  width: 570px;
}

.control_title {
  font: 700 normal 51px / 1.14 "Poppins";
  text-align: left;
  padding: 0 0 48px 0;
}

.control_title span {
  color: #6c5fbc;
}

.control_list {
}

.control_item {
  display: flex;
  align-items: center;
  gap: 19px;

  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(70, 70, 70, 0.05);
  background: #ffffff;
  border: 1px solid #000;

  position: relative;

  padding: 4px 17px;
  width: 345px;
  margin: 0 0 15px;
}

.control_img {
  width: 77px;
  height: 80px;
}

.control_info {
  margin: 0 0 8px 0;
  width: 100%;
}

.control_info_title {
  font: 600 normal 19.06px / 1.4 "Poppins";
  text-align: left;
  margin: 0 0 5px 0;
}

.control_info_status {
  font: 500 normal 12.04px / 1.4 "Poppins";
  text-align: left;
}

.control_info_time {
  font: 500 normal 13.04px / 1.4 "Poppins";
  bottom: 8px;
  position: absolute;
  right: 17px;
  color: #acadb9;

  /* margin: 0 0 2px 0; */
}

.control_item {
}

.control_img {
}

.control_info_status-green {
  color: green;
}

.control_info_status-red {
  color: red;
}

.control_left {
  width: 534px;
  background: #ffffff;
  border: 1px solid #edf2f7;
  border-radius: 25px;
  box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
}

.control_option {
}

.control_option_title {
}

.control_option_select {
}

.control_option_option {
}

.control_left_list {
}

.control_left_item {
}

.control_left_icon_text {
}

.control_left_item_icon {
}

.control_left_item_icon_money {
}

.money_bg {
}

.control_left_item_text {
}

.control_left_item_title {
}

.control_left_text {
}

.control_left_item_price {
}

.control_left_item_yellow {
}
