.download {
  padding: 100px 0 200px 0;
}

.download_ctn {
  padding: 0 0 120px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 219px;
  width: 100%;
  margin: 0 55px;
}

.download_ctn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.5%;
  background: #cbcbcb;
  margin: 0 55px;
  width: 1246px;
  height: 1px;
}

.download_img {
  position: relative;
  width: 371px;
}

.download_img::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon/Illustration 01.svg");
  top: -3%;
  right: 0;
  width: 52px;
  height: 62px;
  background-size: cover;
  z-index: 2;
}

.download_text {
  width: 560px;
}

.download_title {
  font-family: "Poppins";
  font-size: 51px;
  font-weight: 700;
  line-height: 1.14;
  padding: 0 0 65px 0;
  width: 519px;
}

.download_title span {
  color: #6c5fbc;
}

.download_list {
  padding: 0 0 0 32px;
}

.download_item {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  width: 500px;
  margin: 0 0 28px 0;

  list-style: outside;
  color: #676767;
}

.download_btn {
  display: flex;
  align-items: center;
  position: relative;

  padding: 39px 0 0 0;
}

.download_btn::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon/vector.svg");
  top: 88%;
  left: 29%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 200px;
  height: 154px;
  transform: rotate(1deg);
}

.download_button {
  display: flex;
  align-items: center;
  gap: 14px;

  border-radius: 15px;
  color: #fff;

  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;

  padding: 17px 25px;
  background-color: #6c5fbc;
}

.download_icon {
  width: 27.09px;
  height: 27.09px;
}

@media (min-width: 320px) {
  .download {
  }

  .download_ctn {
    display: flex;
    flex-direction: column-reverse;

    gap: 100px;
    margin: 0;
  }

  .download_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
  }

  .download_img::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon/Illustration 01.svg");
    top: 0;
    right: -55%;
    width: 30px;
    height: 35px;
    background-size: cover;
    z-index: 2;
  }
  .img {
  }

  .download_text {
    text-align: center;
    width: 329px;
    padding: 0 0 100px;
  }

  .download_title {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    width: 300px;
    padding: 0 0 37px 26px;
  }

  .download_list {
    padding: 0 0 0 16px;
  }

  .download_item {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 300px;
    margin: 0 0 16px 0;
  }

  .download_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px 0 0;
  }

  .download_btn::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon/vector.svg");
    top: 150%;
    left: -5%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 180px;
    height: 60px;
    transform: rotate(100deg);
  }

  .download_button {
    font-family: "Poppins";
    font-size: 11.82px;
    font-weight: 500;
    line-height: 14.78px;
    gap: 9px;
    border-radius: 9.61px;
    padding: 12px 18px;
  }

  .download_icon {
    width: 17.74px;
    height: 17.74px;
  }
}

@media (min-width: 1024px) {
  .download {
  }

  .download_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    gap: 160px;
    width: 100%;
    margin: 0 55px;
    padding: 0 0 85px 0;
  }

  .download_ctn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4.5%;

    background: #cbcbcb;
    margin: 0 55px;
    width: 886px;
    height: 1px;
  }

  .download_img {
    position: relative;
    width: 264px;
  }

  .img {
    width: 216px;
  }

  .download_img::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon/Illustration 01.svg");
    top: -2%;
    right: 0;
    width: 38px;
    height: 43.9px;

    background-size: cover;
    z-index: 2;
  }

  .download_text {
    width: 430px;
    text-align-last: left;
  }

  .download_title {
    text-align-last: left;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    width: 350px;
    padding: 0 0 45px 0;
  }

  .download_title span {
    color: #6c5fbc;
  }

  .download_list {
    padding: 0;
    margin: 0 0 0 21px;
    text-align-last: left;
  }

  .download_item {
    text-align-last: left;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 350px;
    /* width: 500px;
    margin: 0 0 28px 0; */
    margin: 0 0 19.24px 0;

    list-style: outside;
    color: #676767;
  }

  .download_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    text-align-last: left;
    padding: 28px 0 0 0;
  }

  .download_btn::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon/vector.svg");
    top: 88%;
    left: 29%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 180px;
    height: 65px;
    transform: rotate(1deg);
  }

  .download_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align-last: left;
    border-radius: 10.44px;
    color: #fff;

    font-family: "Poppins";
    font-size: 12.8px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;

    padding: 12px 18px;
    background-color: #6c5fbc;
  }

  .download_icon {
    width: 19.27px;
    height: 19.27px;
  }
}

@media (min-width: 1440px) {
  .download {
    padding: 100px 0 200px 0;
  }

  .download_ctn {
    padding: 0 0 120px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    gap: 219px;
    width: 100%;
    margin: 0 55px;
  }

  .download_ctn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.5%;
    background: #cbcbcb;
    margin: 0 55px;
    width: 1246px;
    height: 1px;
  }

  .download_img {
    position: relative;
    width: 371px;
  }

  .img {
    width: 304px;
  }

  .download_img::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon/Illustration 01.svg");
    top: -3%;
    right: 0;
    width: 52px;
    height: 62px;
    background-size: cover;
    z-index: 2;
  }

  .download_text {
    width: 560px;
  }

  .download_title {
    font-family: "Poppins";
    font-size: 51px;
    font-weight: 700;
    line-height: 1.14;
    padding: 0 0 65px 0;
    width: 519px;
  }

  .download_title span {
    color: #6c5fbc;
  }

  .download_list {
    padding: 0 0 0 32px;
    margin: 0;
  }

  .download_item {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 500px;
    margin: 0 0 28px 0;

    list-style: outside;
    color: #676767;
  }

  .download_btn {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    padding: 39px 0 0 0;
  }

  .download_btn::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon/vector.svg");
    top: 88%;
    left: 29%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 200px;
    height: 154px;
    transform: rotate(1deg);
  }

  .download_button {
    display: flex;
    align-items: center;
    gap: 14px;

    border-radius: 15px;
    color: #fff;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;

    padding: 17px 25px;
    background-color: #6c5fbc;
  }

  .download_icon {
  }
}
