.features {
  background-color: #6c5fbc;
}

.features_ctns {
}

.features_list {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 123px;
}

.features_item:nth-child(1) {
  width: 345px;
}

.features_item:nth-child(2) {
  width: 341px;
}

.features_item:nth-child(3) {
  width: 275px;
  border: none;
}

.features_number {
  font: 700 normal 43px / 1.25 "Public Sans";

  text-align: center;

  color: #fff;
  margin: 0 0 11px 0;
}

.features_text {
  font: 500 normal 14px / 1.5 "Inter";

  color: #cbd5e1;
  text-align: center;
}
@media (min-width: 320px) {
  .features {
  }

  .features_ctns {
    width: 263px;
    padding: 99px 0 82px 0;
    text-align: center;
    margin: 0 auto;
  }

  .features_list {
    display: block;
    height: auto;
    text-align: center;
  }

  .features_item {
    margin: 0 auto;
    width: auto;
  }
  .features_item:nth-child(1) {
    padding: 0 10px 124px 0;
    width: auto;
  }
  .features_item:nth-child(2) {
    padding: 0 10px 125px 0;
    width: auto;
  }
  .features_item:nth-child(3) {
    width: auto;
    padding: 0 10px 0 0;
  }
  .features_number {
    font: 700 normal 43px / 1.2 "Public Sans";

    text-align: center;
  }

  .features_text {
    font: 500 normal 14px / 1.5 "Inter";

    text-align: center;
  }
}

@media (min-width: 1024px) {
  .features_ctns {
    padding: 36px 0 34px 0;
    width: 669px;
    margin: 0 auto;
  }
  .features_list {
    display: flex;

    gap: 94px;
  }

  .features_item {
  }

  .features_item:nth-child(1) {
    width: 187px;
    padding: 0;
  }

  .features_item:nth-child(2) {
    width: 147px;
    padding: 0;
  }

  .features_item:nth-child(3) {
    width: 148px;
    padding: 0;
    border: none;
  }
  .features_number {
    font: 700 normal 31px / 1.2 "Public Sans";

    text-align: center;
  }

  .features_text {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .features {
    background-color: #6c5fbc;
  }

  .features_ctns {
    padding: 48px 0;
    width: 942px;
    margin: 0 auto;
  }

  .features_list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features_item:nth-child(1) {
    width: 345px;
    padding: 0 10px 0 0;
  }

  .features_item:nth-child(2) {
    width: 341px;
  }

  .features_item:nth-child(3) {
    width: 275px;
    padding: 0 0 0 10px;
    border: none;
  }

  .features_number {
    font: 700 normal 43px / 1.25 "Public Sans";

    text-align: center;
    color: #fff;
    margin: 0 0 11px 0;
  }

  .features_text {
    font: 500 normal 14px / 1.5 "Inter";

    color: #cbd5e1;
    text-align: center;
  }
}
