.features {
  background-color: #6c5fbc;
  /* width: 1440px;
  margin: 0 auto; */
  position: relative;
}

.features::after {
  content: "";
  position: absolute;
  top: 0;
  left: -3%;
  height: 220px;
  width: 400px;

  background-image: url("../img/features/Vector7.svg");
  background-repeat: no-repeat;
}
.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5%;
  height: 220px;
  width: 300px;

  background-image: url("../img/features/Vector7.svg");
  background-repeat: no-repeat;
}

.features_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 57px 0 40px 0;
  /* position: relative; */
}

.features_container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18%;
  height: 220px;
  width: 400px;

  background-image: url("../img/features/Vector8.svg");
  background-repeat: no-repeat;
}
.features_container::before {
  content: "";
  position: absolute;
  top: 0;
  right: -8.5%;
  height: 220px;
  width: 300px;

  background-image: url("../img/features/Vector6.svg");
  background-repeat: no-repeat;
}

.features_list {
  height: 123px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features_item {
  border-right: 1px solid #c5c5c5;
}

.features_item:nth-child(1) {
  width: 345px;
  padding: 0 60px 0 0;
}

.features_item:nth-child(2) {
  width: 341px;
  padding: 0 10px 0 0;
}

.features_item:nth-child(3) {
  width: 275px;
  padding: 0 0 0 45px;
  border: none;
}

.features_number {
  font-family: "Public Sans";
  font-size: 43px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;

  color: #fff;
  margin: 0 0 11px 0;
}

.features_text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #c5bfed;

  color: #cbd5e1;
  text-align: center;
}

.features_text:nth-child(1) {
}

.features_text:nth-child(2) {
}

.features_text:nth-child(3) {
}
