.food {
  padding: 0 0 100px 0;
}

.food_title {
  font: 600 normal 32px / 1.7 "Poppins";

  padding: 0 0 53px 0;
}

.food_title span {
  color: #6c5fbc;
}

.food_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 30px;
  margin-bottom: 65px;
}

.food_item {
  background-color: #ffffff;
  border: 1.44089px solid #f4f4f6;
  box-shadow: 7px 82px 41px rgba(229, 229, 229, 0.7);
  border-radius: 35px;
  overflow: hidden;
  padding: 17px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.food_item:hover {
  transform: scale(1.1);
}

.food_img {
  text-align: center;
}

.food_img_img {
  max-width: 100%;
  vertical-align: top;
}

.food_tag {
  padding: 3px 5px;
  border-radius: 5px;
  margin-bottom: 3px;
  font: 400 normal 11.42px / 1.5 "Poppins";

  text-align: left;
}

.food_name {
  font: 600 normal 23.05px / 1.62 "Poppins";

  text-align: left;

  margin: 0 0 3px 0;
}

.food_button {
  display: flex;
  align-items: center;
  /* margin: 0 0 13px 0; */

  margin-bottom: 7px;
}

.food_min {
  font: 400 normal 17.29px / 1.33 "Manrope";

  text-align: left;
  margin: 0 30px 0 0;
}

.food_rating {
  font: 400 normal 17.29px / 1.33 "Manrope";

  text-align: left;
}

.food_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  columns: 5px;
}

.food_cost {
  font: 400 normal 17.29px / 1.33 "Manrope";

  text-align: left;
}

.food_cost span {
  font: 700 normal 18.81px / 2.14 "Manrope";

  text-align: left;

  color: #8e97a6;
}

.food_botton {
  background: #323142;
  padding: 10px 10px 5px;
  border-radius: 9px;
}

@media (min-width: 320px) {
  .food_list {
    grid-template-columns: 1fr;
  }

  .food_title {
    font: 600 normal 30px / 1.2 "Poppins";

    text-align: center;
  }

  .food_tag {
    font: 400 normal 7.47px / 1.5 "Poppins";

    text-align: left;
  }

  .food_name {
    font: 600 normal 15.08px / 1.6 "Poppins";

    text-align: left;
  }

  .food_min {
    font: 400 normal 11.31px / 1.33 "Manrope";

    text-align: left;
  }

  .food_cost {
    font: 700 normal 16.96px / 1.5 "Manrope";

    text-align: left;
  }

  .food_cost span {
    font: 700 normal 12.3px / 2.14 "Manrope";

    text-align: left;
  }
}

@media (min-width: 767px) {
  .food_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .food_title {
    font: 600 normal 32px / 1.76 "Poppins";

    text-align: left;
  }
  .food_list {
    grid-template-columns: repeat(5, 1fr);
  }

  .food_tag {
    font: 400 normal 8.12px / 1.5 "Poppins";

    text-align: left;
  }

  .food_name {
    font: 600 normal 16.39px / 1.6 "Poppins";

    text-align: left;
  }

  .food_min {
    font: 400 normal 12.3px / 1.33 "Manrope";

    text-align: left;
  }

  .food_cost {
    font: 700 normal 18.44px / 1.45 "Manrope";

    text-align: left;
  }

  .food_cost span {
    font: 700 normal 13.37px / 2.14 "Manrope";

    text-align: left;
  }
}
