.food {
  padding: 0 0 100px 0;
}

.food_title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 18.17px;
  padding: 0 0 53px 0;
}

.food_title span {
  color: #6c5fbc;
}

.food_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 30px;
  margin-bottom: 65px;
}

.food_item {
  background-color: #ffffff;
  border: 1.44089px solid #f4f4f6;
  box-shadow: 7px 82px 41px rgba(229, 229, 229, 0.7);
  border-radius: 35px;
  overflow: hidden;
  padding: 17px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.food_item:hover {
  transform: scale(1.1);
}

.food_img {
  text-align: center;
}

.food_img_img {
  max-width: 100%;
  vertical-align: top;
}

.food_tag {
  padding: 3px 5px;
  border-radius: 5px;
  margin-bottom: 3px;

  font-family: Poppins;
  font-size: 11.42px;
  font-weight: 400;
  line-height: 17.13px;
  text-align: left;
}

.food_name {
  font-family: Poppins;
  font-size: 23.05px;
  font-weight: 600;
  line-height: 37.46px;
  text-align: left;

  margin: 0 0 3px 0;
}

.food_button {
  display: flex;
  align-items: center;
  /* margin: 0 0 13px 0; */

  margin-bottom: 7px;
}

.food_min {
  font-family: Manrope;
  font-size: 17.29px;
  font-weight: 400;
  line-height: 23.05px;
  text-align: left;
  margin: 0 30px 0 0;
}

.food_rating {
  font-family: Manrope;
  font-size: 17.29px;
  font-weight: 400;
  line-height: 23.05px;
  text-align: left;
}

.food_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  columns: 5px;
}

.food_cost {
  font-family: Manrope;
  font-size: 17.29px;
  font-weight: 400;
  line-height: 23.05px;
  text-align: left;
}

.food_cost span {
  font-family: Manrope;
  font-size: 18.81px;
  font-weight: 700;
  line-height: 40.34px;
  text-align: left;

  color: #8e97a6;
}

.food_botton {
  background: #323142;
  padding: 10px 10px 5px;
  border-radius: 9px;
}
