.footer {
  background-color: #eaeaea;
}

.footer_ctn {
  padding: 90px 0 81px 0;
  width: 1260px;
  margin: 0 auto;
}

.footer_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #cbcbcb;
  margin: 0 0 56px 0;
  flex-wrap: wrap;
}

.footer_logo__link {
  width: 150px;
  /* height: 75px; */
  padding: 0 0 0 15px;
}

.footer_logo {
  width: 150px;
  height: 75px;
}

.footer_menu {
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 70px;
}

.footer_item {
  text-align: left;
  transition: color 0.2s ease;
}

.footer_item_link {
  font: 500 normal 18px / 1.5 "Inter";
  transition: all 0.3s ease-in-out;
  color: #999999;
}

.footer_item_link:hover {
  cursor: pointer;
  color: #6c5fbc;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bottom_text {
  font: 500 normal 17px / 1.47 "Inter";
  text-align: left;
  color: #999999;
  padding: 0 0 0 15px;
}

.footer_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
  margin: 0 10px 0 0;
}

.footer_icon_item {
}

.footer_icon_link {
}

.footer_icon_img {
  filter: brightness(0);
  transition: all 0.3s ease-in-out;
}

.footer_icon_img:hover {
  filter: brightness(100%);
}

@media (min-width: 320px) {
  .footer {
    background-color: #eaeaea;
  }

  .footer_ctn {
    width: 315px;
    margin: 0 auto;
    padding: 55px 0 34px 0;
  }

  .footer_upper {
    display: block;
    padding: 0;
    border-bottom: 1px solid #cbcbcb;
    margin: 0 0 31px 0;
    flex-wrap: wrap;
  }

  .footer_head_small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 99px; */
  }

  .footer_icon_small {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .footer_logo__link {
    padding: 0;
  }

  .footer_logo {
    width: 99.39px;
    height: 37.45px;
  }

  .footer_menu {
    padding: 50px 0 0 0;
  }

  .footer_list {
    display: block;
  }

  .footer_item {
    margin: 0 0 30px 0;
  }

  .footer_item_link {
    font: 500 normal 14px / 1.34 "Inter";
    text-align: left;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color: #999999;
  }

  .footer_item_link:hover {
    cursor: pointer;
    color: #6c5fbc;
  }

  .footer_bottom {
    display: block;
  }

  .footer_bottom_text {
    font: 500 normal 13.54px / 1.47 "Inter";
    text-align: center;
    color: #999999;
    padding: 0;
  }

  .footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin: 0 5px 0 0;
    display: none;
  }

  .footer_icon_item {
  }
  .footer_icon_link {
  }

  .footer_icon_img {
    width: 15.94px;
    height: 16px;
  }

  .footer_icon_img {
    filter: brightness(0);
    transition: all 0.3s ease-in-out;
  }

  .footer_icon_img:hover {
    filter: brightness(100%);
  }
}

@media (min-width: 1024px) {
  .footer {
    background-color: #eaeaea;
  }

  .footer_ctn {
    width: 892px;
    margin: 0 auto;
    padding: 68px 0 57px 0;
  }

  .footer_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #cbcbcb;
    margin: 0 0 40px 0;
    flex-wrap: wrap;
  }

  .footer_icon_small {
    display: none;
  }

  .footer_logo__link {
    width: 107.55px;
    height: 40.53px;
    padding: 0 0 0 9px;
  }

  .footer_logo {
    width: 107.55px;
    height: 40.53px;
    padding: 0;
  }

  .footer_menu {
    padding: 0;
  }

  .footer_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }

  .footer_item {
    text-align: left;
    transition: color 0.2s ease;
    margin: 0;
  }

  .footer_item_link {
    font: 500 normal 12.68px / 1.5 "Inter";
    text-align: left;
    transition: all 0.3s ease-in-out;
    color: #999999;
  }

  .footer_item_link:hover {
    cursor: pointer;
    color: #6c5fbc;
  }

  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer_bottom_text {
    font: 500 normal 12.09px / 1.47 "Inter";
    text-align: left;
    color: #999999;
    padding: 0 0 0 6px;
  }

  .footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin: 0 5px 0 0;
  }

  .footer_icon_item {
  }

  .footer_icon_link {
  }
  .footer_icon_img {
    width: 15.17px;
    height: 15.23px;
  }

  .footer_icon_img {
    filter: brightness(0);
    transition: all 0.3s ease-in-out;
  }

  .footer_icon_img:hover {
    filter: brightness(100%);
  }
}

@media (min-width: 1440px) {
  .footer {
    background-color: #eaeaea;
  }

  .footer_ctn {
    padding: 90px 0 81px 0;
    width: 1260px;
    margin: 0 auto;
  }

  .footer_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #cbcbcb;
    margin: 0 0 56px 0;
    flex-wrap: wrap;
  }

  .footer_logo__link {
    width: 150px;
    height: 70px;
    padding: 0 0 0 15px;
  }

  .footer_logo {
    width: 150px;
    height: 75px;
  }

  .footer_menu {
  }

  .footer_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
  }

  .footer_item {
  }

  .footer_item_link {
    text-align: left;
    font: 500 normal 18px / 1.5 "Inter";
    transition: all 0.3s ease-in-out;
    color: #999999;
  }

  .footer_item_link:hover {
    cursor: pointer;
    color: #6c5fbc;
  }

  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer_bottom_text {
    font: 500 normal 17px / 1.47 "Inter";

    text-align: left;

    text-align: left;
    color: #999999;
    padding: 0 0 0 15px;
  }

  .footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
    margin: 0 10px 0 0;
  }

  .footer_icon_item {
  }

  .footer_icon_link {
  }

  .footer_icon_img {
    width: 21.34px;
    height: 21.42px;
  }

  .footer_icon_img {
    filter: brightness(0);
    transition: all 0.3s ease-in-out;
  }

  .footer_icon_img:hover {
    filter: brightness(100%);
  }
}

/* @media (min-width: 320px) {
  .footer_logo {
    margin: 0 0 20px 0;
  }
  .footer_ctn {
    display: block;
  }
  .footer_list {
    display: block;
  }
  .footer_item {
  }

  .footer_item_link {
    font: 500 normal 14px / 1.34 "Inter";
    text-align: left;
  }

  .footer_icon {
    margin: 0 0 30px 0;
  }
  .footer_bottom {
    flex-direction: column-reverse;
  }

  .footer_bottom_text {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #999999;
  }
}
@media (min-width: 1024px) {
  .footer_ctn {
    display: flex;
  }

  .footer_logo {
    margin: 0;
  }
  .footer_list {
    display: flex;
  }
  .footer_item {
    margin: 0 50px 0 0;
  }

  .footer_item_link {
    font: 500 normal 13px / 1.46 "Inter";
    color: #999999;
  }

  .footer_bottom {
    flex-direction: row;
  }

  .footer_bottom_text {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .footer_ctn {
    display: flex;
  }
  .footer_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer_item {
  }

  .footer_item_link {
    font: 500 normal 18px / 1.5 "Inter";

    color: #999999;
  }

  .footer_bottom {
    flex-direction: row;
  }
  .footer_bottom_text {
    font: 500 normal;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }
} */
