@media (min-width: 375px) {
  .header__container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0 25px 0;
    border-bottom: 0.5px solid #cbcbcb;
  }

  .header_logo {
    width: 111.94px;
    height: 42.31px;
  }
  .header_menu {
    display: none;
  }

  .menu_login_box {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 10px 0;
    border-bottom: 0.71px solid #cbcbcb;
  }

  .header_logo__link {
  }

  .header_logo {
    width: 79.49px;
    height: 30.09px;
  }

  .menu__list {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 73px;
  }

  .menu_item {
    font-size: 12.68px;
    font-weight: 500;
    line-height: 19.02px;
    color: #606060;
  }

  .menu_login_box {
    align-items: center;
    gap: 25px;
  }

  .menu_button {
    font-size: 12.68px;
    font-weight: 700;
    line-height: 19.02px;
    padding: 12.68px 19.02px;
    border-radius: 12px;
    background-color: #6c5fbc;
    color: #f9f9f9;
  }

  .menu_login {
    color: #606060;
    font-size: 12.68px;
    font-weight: 700;
    line-height: 19.02px;
  }

  .header_menu {
    display: block;
  }

  .menu_login_box {
    display: flex;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 103px;
    padding: 48px 0 24px 0;
    /* border-bottom: 1px solid #606060; */
    border-bottom: 1px solid #cbcbcb;
  }

  .navigation {
    display: flex;
    gap: 103px;
    align-items: center;
  }

  .header_logo__link {
  }

  .header_logo {
    width: 111.94px;
    height: 42.31px;
  }

  .header_menu {
    display: flex;
    align-items: center;
  }

  .menu {
  }

  .menu__list {
    display: flex;
    gap: 54px;
  }

  .menu_item {
    font-size: 17.83px;
    font-weight: 500;
    line-height: 26.74px;
    color: #606060;
  }

  .menu_login_box {
    display: flex;
    align-items: center;
    gap: 37px;
  }

  .menu_login {
    font-size: 17.83px;
    font-weight: 700;
    line-height: 26.74px;
  }

  .menu_button {
    border-radius: 18px;
    padding: 17.83px 26.74px;
    background-color: #5c4eae;
    color: #f9f9f9;
    font-size: 17.83px;
    font-weight: 700;
    line-height: 26.74px;
  }

  .burger {
    display: none;
  }
}
