.hero {
  padding: 180px 0 85px 0;
}

.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}

.left {
  flex: 1 1 49%;
}

.hero_left {
}

.hero_subtitle {
  position: relative;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2px;
  color: #201f1f33;
  padding: 0 0 0 74px;
}

.hero_subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 54px;
  height: 0.71px;
  background: #201f1f33;
  opacity: 0.2px;
}

.hero_title {
  font-family: "Poppins";
  font-size: 75px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -3px;

  margin: 18px 0 16px 0;

  /* font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 1.2;
  letter-spacing: -3px;
  color: #201f1f;
  margin: 0 0 20px; */
}

.hero_title span {
  color: #5c4eae;
}

.hero_text {
  /* font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* text-align: justify; */

  opacity: 0.7;
  color: #676767;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  /* margin: 0 0 50px; */
  width: 499px;
}

.hero_text span {
  color: #5c4eae;
}

.hero_btn {
  display: flex;
  align-items: center;
  gap: 18px;
  /* margin: 0 0 35px 0; */
}

.hero_button {
  background: #5c4eae;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1%;

  color: #fff;
  border-radius: 12px;
  padding: 18px 31px;
}

.hero_button_pro {
  background: #fff;
  color: #5c4eae;
  border: 1.5px solid #6c5fbc;
}

.hero_raiting {
  display: flex;
  /* align-items: center; */
  gap: 18px;
}

.hero_stars {
  display: flex;
  align-items: center;
}

.hero_star {
  margin: 7px 5px 0 0;
  /* margin-right: 5px; */
}
.hero_stars span {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  opacity: 0.7;
  margin: 0 0 0 2px;
}

.right {
  position: relative;
  max-width: 40%;
  margin-right: 9.5%;
}

.hero_right {
  position: relative;
}

.hero_right::before {
  content: "";
  position: absolute;
  top: -3%;
  left: 5%;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  background-color: #6c5fbc;
}

.hero_right_img {
  vertical-align: top;
  max-width: 100%;
  position: relative;
}

.hero_meal {
  position: absolute;
  bottom: 90%;
  left: 40%;
  width: 73%;
}

.hero_meal_item {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.hero_meal_item_img {
  max-width: 23%;
  margin-right: 20px;
}

.hero_meal_text {
  width: 100%;
}

.hero_meal_title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #323142;
}

.hero_meal_sub_title {
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #323142;
}

.hero_meal_time {
  font-family: "Poppins";
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  color: #acadb9;
  text-align: right;
}

.hero_graph {
  position: absolute;
  bottom: -15%;
  left: 0;
  max-width: 50%;
}
.hero_graph_img {
  background-color: #ffffff;
  box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
  border: 1px solid #edf2f7;
  border-radius: 14px;
  padding: 5px 0;
}
@media (min-width: 320px) {
  .hero_container {
    display: block;
    padding: 57px 0 0 0;
  }
  .left {
  }

  .hero_left {
  }

  .hero_subtitle {
    color: black;
    padding: 0;
    text-align: center;
    font-family: "Poppins";
    font-size: 9.25px;
    font-weight: 600;
    line-height: 11.1px;
    letter-spacing: 1.23305082321167px;
  }
  .hero_subtitle::before {
    background: black;
    left: 50px;
  }

  .hero_title {
    font-family: "Poppins";
    font-size: 46.24px;
    font-weight: 600;
    line-height: 55.49px;
    letter-spacing: -1.8495762348175049px;
    text-align: center;
  }

  .hero_text {
    font-family: "Inter";
    font-size: 11.1px;
    font-weight: 400;
    line-height: 17.26px;
    text-align: center;
  }

  .hero_btn {
    justify-content: center;
  }
  .hero_button {
    padding: 14px 24px;
    font-family: "Poppins";
    font-size: 13.03px;
    font-weight: 500;
    line-height: 19.54px;
    letter-spacing: 0.01em;
  }

  .hero_raiting {
    justify-content: center;
  }
  .hero_star {
  }

  .hero_star_icon {
  }

  .right {
  }

  .hero_right {
  }

  .hero_food_img {
    width: 323px;
  }
}

@media (min-width: 1024px) {
  .hero_container {
    display: flex;
    gap: 26px;
    padding: 90px 0 60px;
  }
  .hero_subtitle {
    padding: 0 0 0 52px;
    font-family: "Poppins";
    font-size: 10.67px;
    font-weight: 600;
    line-height: 12.8px;
    letter-spacing: 1.4222220182418823px;
    text-align: left;
    color: #676767;
  }
  .hero_subtitle::before {
    background: #676767;
    width: 38px;
    left: 0;
  }

  .hero_title {
    font-family: "Poppins";
    font-size: 53.33px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -2.133333206176758px;
    text-align: left;
  }

  .hero_text {
    font-family: "Inter";
    font-size: 12.8px;
    font-weight: 400;
    line-height: 19.91px;
    text-align: left;
    /* width: 354px; */
  }
  .hero_btn {
    justify-content: flex-start;
  }
  .hero_button {
    padding: 12px 21px;
  }
  .hero_button_pro {
  }
  .hero_raiting {
    justify-content: flex-start;
  }
  .hero_stars {
  }
  .hero_star {
  }
  .hero_star_icon {
  }

  .right {
  }

  .hero_right {
  }

  .hero_food_img {
    width: 429px;
  }
}

@media (min-width: 1440px) {
  .hero_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
  }

  .left {
  }

  .hero_left {
  }

  .hero_subtitle {
    position: relative;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 2px;
    color: #201f1f33;
    padding: 0 0 0 74px;
  }

  .hero_subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 54px;
    height: 0.71px;
    background: #201f1f33;
  }

  .hero_title {
    font-family: "Poppins";
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
  }

  .hero_title span {
    color: #5c4eae;
  }

  .hero_text {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;

    color: #676767;
    opacity: 0.7;
    padding: 0 0 50px 0;
  }

  .hero_text span {
    color: #5c4eae;
  }

  .hero_btn {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 0 33px 0;
    justify-content: flex-start;
  }

  .hero_button {
    background: #5c4eae;
    font-family: "Poppins";
    font-size: 16.27px;
    font-weight: 500;
    line-height: 24.41px;
    letter-spacing: 0.01em;
    color: #fff;
    border-radius: 12.41px;
    padding: 17px 30px;
  }

  .hero_button_pro {
    border: 1.75px solid #5c4eae;
    background: #fff;
    color: #5c4eae;
  }

  .hero_raiting {
    display: flex;
    align-items: center;

    gap: 18px;
  }

  .hero_stars {
    display: flex;
    align-items: center;
  }

  .hero_star {
    margin-right: 5px;
  }

  .hero_star_icon {
  }

  .hero_food_img {
  }
  .hero_food_img {
    width: 600px;
  }
}
