.hero {
  padding: 34px 0 0 0;
}
.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_text {
}

.hero_title {
  position: relative;
  font-size: 10.67px;
  font-weight: 600;
  line-height: 12.8px;
  letter-spacing: 1.4222220182418823px;
  color: #201f1f33;
  padding-left: 53px;
}
.hero_title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 38.4px;
  height: 0.71px;
  background: #201f1f33;
  opacity: 0.2px;
}

.content_hero {
  width: 567px;
}

.hero_content {
  padding: 18px 0 16px 0;
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -3px;
}
.hero_content span {
  color: #6c5fbc;
}

.hero_sub_title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: justified;
  padding: 0 0 53px 0;
  width: 490px;
  color: #676767;
}
.hero_sub_title span {
  color: #6c5fbc;
}

.hero_img {
}

.button_box {
}

.button_box {
  font-size: 11.57px;
  font-weight: 500;
  line-height: 17.36px;
  letter-spacing: 0.01em;
}
.hero_button {
  background-color: #6c5fbc;
  border-radius: 8.83px;
  color: #ffffff;
  padding: 18px 31px;
  border-radius: 12.41px;
}
.hero_pro {
  background-color: #fff;
  border-radius: 12.41px;
  padding: 18px 28px;
  color: #6c5fbc;
  border: 1.07px solid #6c5fbc;
}

.img_hero {
}
