/* ---------- ----------HTML Setting---------- ---------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #ffffff;
}
body {
  line-height: 1;
  font-family: Inter;
  color: #333;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---------- ----------container---------- ---------- */

[class*="_container"] {
  max-width: 1248px;
  margin: 0 auto;
}
/* 
@media (max-width: 1199.98px) {
  [class*="_container"] {
    max-width: 970px;
  }
} */

/* @media (max-width: 991.98px) {
  [class*="_container"] {
    max-width: 750px;
  }
} */

/* @media (max-width: 767.98px) {
  [class*="_container"] {
    max-width: none;
    padding: 0px 15px;
  }
} */

:root {
  --main-color: #5c4eae;
  --color: #606060;
  --white-color: #f9f9f9;
}

/* ---------- ----------header---------- ---------- */

.header {
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;
  padding-bottom: 24px;
  padding-top: 48px;
  border-bottom: 1px solid var(--color);
}
.navigation {
  display: flex;
  gap: 103px;
  align-items: center;
}
.header_logo__link {
}
.header_logo {
}

.header_menu {
  display: flex;
  align-items: center;
}

/* ---------- ----------menu---------- ---------- */
.menu {
}

.menu__list {
  display: flex;
  gap: 54px;
}

.menu_item {
  color: var(--color);
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
}
.menu_login_box {
  display: flex;
  align-items: center;
  gap: 37px;
}
.menu_login {
  font-size: 17.83px;
  font-weight: 700;
  line-height: 26.74px;
}
.menu_button {
  border-radius: 18px;
  padding: 17.83px 26.74px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 17.83px;
  font-weight: 700;
  line-height: 26.74px;
}
