/* ---------- ----------HTML Setting---------- ---------- */
@import url(./varibles.css);
@import url(./header.css);
@import url(./hero.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #ffffff;
}
body {
  line-height: 1;
  font-family: Inter;
  color: #282828;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---------- ----------container---------- ---------- */

[class*="_container"] {
  margin: 0 auto;
}

@media (min-width: 375px) {
  [class*="_container"] {
    width: 314px;
  }
}

@media (min-width: 1024px) {
  [class*="_container"] {
    width: 887px;
  }
}

@media (min-width: 1440px) {
  [class*="_container"] {
    width: 1248px;
  }
}
/* ---------- ----------header---------- ---------- */
