.restaurant {
  padding: 0 0 100px 0;
  color: #323142;
}

.restaurant_container {
}

.restaurant_title {
  font: 400 normal 45px / 1.7 "Poppins";

  text-align: center;
  margin: 0 0 85px 0;
}

.restaurant_title span {
  color: #6c5fbc;
}

.restaurant_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  margin-bottom: 65px;
}

.restaurant_item {
  border-radius: 30px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1.44089px solid #f4f4f6;
  box-shadow: 6px 71px 36px rgba(229, 229, 229, 0.7);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.restaurant_item:hover {
  transform: scale(1.1);
}

.restaurant_img {
  position: relative;
}

.restaurant_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(50, 49, 66, 0.1);
}

.restaurant_img_img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

.restaurant_info {
  padding: 10px 10px 17px 34px;
}

.restaurant_info_tag {
  font: 400 normal 13px / 1.4 "Poppins";

  text-align: left;
  border-radius: 5px;
  padding: 3px 5px;
}

.tag-yellow {
  background: #f7edd0;
  color: #daa31a;
}

.tag-red {
  background: #f7c5ba;
  color: #fb471d;
}



.restaurant_name {
  font: 600 normal 26px / 1.6 "Poppins";

  text-align: left;

  /* margin: 5px 0 0 0; */
}

.restaurant_button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 30px;
}
.restaurant_min {
  font: 400 normal 19px / 1.36 "Manrope";

  text-align: left;
  color: #8e97a6;
}

.restaurant_rating {
  flex: 1 1 auto;
  position: relative;
}

.restaurant_rating::before {
  position: absolute;
  content: "";
  top: 10%;
  right: 100%;
  background-image: url("../img/restartnt/star.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.restaurant_button_icon {
  cursor: pointer;
  background-color: #dbd9ee;
  padding: 6px 10px 3px;
  border-radius: 100%;
}

@media (min-width: 320px) {
  .restaurant_container {
  }

  .restaurant_title {
    font: 600 normal 35px / 1.02 "Poppins";

    text-align: center;

    margin: 0 0 25px 0;
  }

  .restaurant_list {
    grid-template-columns: 1fr;
  }

  .restaurant_item {
  }

  .restaurant_img {
  }

  .restaurant_img_img {
  }

  .restaurant_info {
  }

  .restaurant_info_tag {
  }

  .restaurant_name {
  }

  .restaurant_button {
  }

  .restaurant_min {
  }

  .restaurant_rating {
  }

  .restaurant_button_icon {
  }
}

@media (min-width: 991px) {
  .restaurant_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .restaurant_container {
  }

  .restaurant_title {
    font: 600 normal 32px / 1.7 "Poppins";

    margin: 0 0 60px 0;
  }

  .restaurant_list {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant_item {
  }

  .restaurant_img {
  }

  .restaurant_img_img {
  }

  .restaurant_info {
    padding: 7px 19px 12px 24px;
  }

  .restaurant_info_tag {
    font: 400 normal 9px / 1.5 "Poppins";

    text-align: left;
  }

  .restaurant_name {
    font: 600 normal 18px / 1.6 "Poppins";

    text-align: left;
  }

  .restaurant_button {
  }

  .restaurant_min {
    font: 400 normal 14px / 1.2 "Manrope";

    text-align: left;
  }

  .restaurant_rating {
  }

  .restaurant_button_icon {
  }
}

@media (min-width: 1440px) {
  .restaurant {
    padding: 0 0 100px 0;
    color: #323142;
  }

  .restaurant_container {
  }

  .restaurant_title {
    font: 600 normal 45px / 1.7 "Poppins";

    text-align: center;
    margin: 0 0 85px 0;
  }

  .restaurant_title span {
    color: #6c5fbc;
  }

  .restaurant_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;
  }

  .restaurant_item {
    border-radius: 30px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1.44089px solid #f4f4f6;
    box-shadow: 6px 71px 36px rgba(229, 229, 229, 0.7);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .restaurant_item:hover {
    transform: scale(1.1);
  }

  .restaurant_img {
    position: relative;
  }

  .restaurant_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(50, 49, 66, 0.1);
  }

  .restaurant_img_img {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .restaurant_info {
    padding: 10px 10px 17px 28px;
  }

  .restaurant_info_tag {
    font: 400 normal 13px / 1.46 "Poppins";

    text-align: left;
    border-radius: 5px;
    padding: 3px 5px;
  }

  .tag-yellow {
    background: #f7edd0;
    color: #daa31a;
  }

  .tag-red {
    background: #f7c5ba;
    color: #fb471d;
  }

  .restaurant_name {
    font: 600 normal 26px / 1.5 "Poppins";

    text-align: left;

    /* margin: 5px 0 0 0; */
  }

  .restaurant_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 30px;
  }
  .restaurant_min {
    font: 400 normal 19px / 1.36 "Manrope";

    text-align: left;
    color: #8e97a6;
  }

  .restaurant_rating {
    flex: 1 1 auto;
    position: relative;
  }

  .restaurant_rating::before {
    position: absolute;
    content: "";
    top: 10%;
    right: 95%;
    background-image: url("../img/restartnt/star.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
  }

  .restaurant_button_icon {
    cursor: pointer;
    background-color: #dbd9ee;
    padding: 6px 10px 3px;
    border-radius: 100%;
  }
}
