.hero {
  padding: 180px 0 85px 0;
}

.hero_ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}

.left {
  flex: 1 1 49%;
}

.hero_left {
}

.hero_subtitle {
  position: relative;
  font: 600 normal 15px / 1.2 "Poppins";

  letter-spacing: 2px;
  color: #201f1f33;
  padding: 0 0 0 74px;
}

.hero_subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 54px;
  height: 0.71px;
  background: #201f1f33;
  opacity: 0.2px;
}

.hero_title {
  font: 600 normal 75px / 1.2 "Poppins";
  letter-spacing: -3px;
  margin: 18px 0 16px 0;
}

.hero_title span {
  color: #5c4eae;
}

.hero_text {
  opacity: 0.7;
  color: #676767;
  font: 400 normal 18px / 1.5 "Inter";
  text-align: justify;
  width: 499px;
}

.hero_text span {
  color: #5c4eae;
}

.hero_btn {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero_button {
  background: #5c4eae;
  font: 500 normal 16px / 1.5 "Poppins";
  letter-spacing: 1%;
  color: #fff;
  border-radius: 12px;
  padding: 18px 31px;
}

.hero_button_pro {
  background: #fff;
  color: #5c4eae;
  border: 1.5px solid #6c5fbc;
}

.hero_raiting {
  display: flex;
  gap: 18px;
}

.hero_stars {
  display: flex;
  align-items: center;
}

.hero_star {
  margin: 7px 5px 0 0;
}

.hero_stars span {
  font: 500 normal 16px / 1.06 "Plus Jakarta Sans";
  opacity: 0.7;
  margin: 0 0 0 2px;
}

.right {
  position: relative;
  max-width: 40%;
  margin-right: 9.5%;
}

.hero_right {
  position: relative;
}

.hero_right::before {
  content: "";
  position: absolute;
  top: -3%;
  left: 5%;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  background-color: #6c5fbc;
}

.hero_right_img {
  vertical-align: top;
  max-width: 100%;
  position: relative;
}

.hero_meal {
  position: absolute;
  bottom: 90%;
  left: 40%;
  width: 73%;
}

.hero_meal_item {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.hero_meal_item_img {
  max-width: 23%;
  margin-right: 20px;
}

.hero_meal_text {
  width: 100%;
}

.hero_meal_title {
  font: 600 normal 16px / 1.375 "Poppins";
  text-align: left;
  color: #323142;
}

.hero_meal_sub_title {
  font: 500 normal 10px / 1.4 "Poppins";
  text-align: left;
  color: #323142;
}

.hero_meal_time {
  font: 500 normal 11px / 1.36 "Poppins";
  color: #acadb9;
  text-align: right;
}

.hero_graph {
  position: absolute;
  bottom: -15%;
  left: 0;
  max-width: 50%;
}
.hero_graph_img {
  background-color: #ffffff;
  box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
  border: 1px solid #edf2f7;
  border-radius: 14px;
  padding: 5px 0;
}

@media (min-width: 320px) {
  .ctn {
    width: 315px;
    margin: 0 auto;
  }

  .hero {
  }

  .hero_ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 37px;
  }

  .left {
    flex: 1 1 49%;
  }

  .hero_left {
    padding: 0 0 100px 0;
  }

  .hero_subtitle {
    position: relative;
    font: 600 normal 9px / 1.2 "Poppins";
    letter-spacing: 1.23px;
    text-align: center;
    color: #000;
    padding: 0;
  }

  .hero_subtitle::before {
    content: "";
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translatey(-50%);
    width: 54px;
    height: 0.71px;
    background: #000;
    opacity: 0.2px;
  }

  .hero_title {
    font: 600 normal 46px / 1.19 "Poppins";
    letter-spacing: -1.85px;
    text-align: center;
    width: 350px;
    margin: 18px 0 16px 0;
  }

  .hero_title span {
    color: #5c4eae;
  }

  .hero_text {
    font: 400 normal 11.1px / 1.5 "Inter";
    text-align: center;
    opacity: 0.7;
    color: #676767;
    margin: 0 0 41px 0;
    width: auto;
  }

  .hero_text span {
    color: #5c4eae;
  }

  .hero_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin: 0 0 26px 0;
  }

  .hero_button {
    font: 500 normal 13.03px / 1.49 "Poppins";
    letter-spacing: 0.01em;
    text-align: left;
    background: #5c4eae;
    color: #fff;
    border-radius: 9.94px;
    padding: 14px 28px;
  }

  .hero_button_pro {
    background: #fff;
    color: #5c4eae;
    border: 1.2px solid #6c5fbc;
  }

  .hero_raiting {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .hero_trustpilot {
    display: flex;
  }

  .hero_trustpilot_img_star {
    width: 23.59px;
    height: 22.42px;
  }

  .hero_trustpilot_img {
    margin: 4px 0 0 0;
    width: 72.61px;
    height: 15.61px;
  }

  .hero_stars {
    display: flex;
    align-items: center;
  }

  .hero_star {
    margin: 7px 5px 0 0;
  }

  .hero_stars span {
    font: 500 normal 12.81px / 1.5 "Plus Jakarta Sans";
    text-align: left;
    opacity: 0.7;
    margin: 0 0 0 2px;
  }

  .hero_star_icon {
    width: 12.78px;
    height: 12.78px;
  }

  .right {
    position: relative;
    max-width: 100%;
  }

  .hero_right {
    position: relative;
  }

  .hero_right::before {
    content: "";
    position: absolute;
    top: -3%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    background-color: #6c5fbc;
  }

  .hero_right_img {
    vertical-align: top;
    max-width: 100%;
    position: relative;
  }

  .hero_meal {
    position: absolute;
    bottom: 90%;
    left: 40%;
    width: 73%;
  }

  .hero_meal_item {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  .hero_meal_item_img {
    max-width: 15%;
    margin-right: 20px;
  }
  .hero_meal_item_img img {
    width: 34px;
    height: 38px;
  }

  .hero_meal_text {
    width: 100%;
  }

  .hero_meal_title {
    font: 600 normal 7.4px / 1.4 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_sub_title {
    font: 500 normal 4.67px / 1.4 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_time {
    font: 500 normal 5.06px / 1.4 "Poppins";
    color: #acadb9;
    text-align: right;
  }

  .hero_graph {
    position: absolute;
    bottom: -20%;
    left: 0;
    max-width: 100%;
  }
  .hero_graph_img {
    background-color: #ffffff;
    box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
    border: 1px solid #edf2f7;
    border-radius: 14px;
    padding: 5px 0;
  }
}

@media (min-width: 1024px) {
  .hero {
    /* padding: 180px 0 85px 0; */
  }

  .hero_ctn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 37px;
  }

  .left {
    flex: 1 1 49%;
  }

  .hero_left {
  }

  .hero_subtitle {
    position: relative;
    font: 600 normal 10.67px / 1.19 "Poppins";
    letter-spacing: 1.42px;
    text-align: left;

    color: #201f1f33;
    padding: 0 0 0 54px;
  }

  .hero_subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 38px;
    height: 0.71px;
    background: #201f1f33;
    opacity: 0.2px;
  }

  .hero_title {
    font: 600 normal 53.33px / 1.2 "Poppins";
    letter-spacing: -2.13px;
    text-align: left;
    width: auto;
    margin: 12px 0 11px 0;
  }

  .hero_title span {
    color: #5c4eae;
  }

  .hero_text {
    font: 400 normal 12.8px / 1.5 "Inter";
    text-align: left;
    width: 364px;
    margin: 0 0 38px 0;
    color: #676767;
  }

  .hero_text span {
    color: #5c4eae;
  }

  .hero_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin: 0 0 20px 0;
  }

  .hero_button {
    font: 500 normal 11.57px / 1.5 "Poppins";
    letter-spacing: 0.01em;
    text-align: left;
    background: #5c4eae;
    color: #fff;
    border-radius: 9px;
    padding: 12px 21px;
  }

  .hero_button_pro {
    padding: 12px 20px;
    background: #fff;
    color: #5c4eae;
    border: 1.5px solid #6c5fbc;
  }

  .hero_raiting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
  }

  .hero_trustpilot {
    display: flex;
    /* align-items: center; */
    gap: 3px;
  }

  .hero_trustpilot_img {
    width: 64.49px;
    height: 13.86px;
    margin: 4px 0 0 0;
  }

  .hero_trustpilot_img_star {
    width: 20.95px;
    height: 19.91px;
  }
  .hero_stars {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .hero_star {
    margin: 7px 0 0 0;
  }

  .hero_star_icon {
    width: 10px;
    height: 10.87px;
  }

  .hero_stars span {
    font: 500 normal 11.38px / 1.5 "Plus Jakarta Sans";
    text-align: left;
    opacity: 0.7;
    margin: 7px 0 0 1px;
  }

  .right {
    position: relative;
    max-width: 40%;
    margin-right: 9.5%;
  }

  .hero_right {
    position: relative;
  }

  .hero_right::before {
    content: "";
    position: absolute;
    top: -3%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    background-color: #6c5fbc;
  }

  .hero_right_img {
    vertical-align: top;
    max-width: 100%;
    position: relative;
  }

  .hero_meal {
    position: absolute;
    bottom: 90%;
    left: 40%;
    width: 80%;
  }

  .hero_meal_item {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  .hero_meal_item_img {
    max-width: 23%;
    margin-right: 30px;
  }

  .hero_meal_text {
    width: 100%;
  }

  .hero_meal_title {
    font: 600 normal 11.08px / 1.4 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_sub_title {
    font: 500 normal 7px / 1.4 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_time {
    font: 500 normal 7.58px / 1.4 "Poppins";
    text-align: left;
    color: #acadb9;
    text-align: right;
  }

  .hero_graph {
    position: absolute;
    bottom: -15%;
    left: 0;
    max-width: 100%;
  }
  .hero_graph_img {
    background-color: #ffffff;
    box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
    border: 1px solid #edf2f7;
    border-radius: 14px;
    padding: 5px 0;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 180px 0 85px 0;
  }

  .hero_ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
  }

  .left {
    flex: 1 1 49%;
  }

  .hero_left {
  }

  .hero_subtitle {
    position: relative;
    font: 600 normal 15px / 1.2 "Poppins";
    letter-spacing: 2px;
    color: #201f1f33;
    padding: 0 0 0 74px;
  }

  .hero_subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 54px;
    height: 0.71px;
    background: #201f1f33;
    opacity: 0.2px;
  }

  .hero_title {
    font: 600 normal 75px / 1.2 "Poppins";
    letter-spacing: -3px;
    margin: 18px 0 16px 0;
  }

  .hero_title span {
    color: #5c4eae;
  }

  .hero_text {
    opacity: 0.7;
    color: #676767;
    font: 400 normal 18px / 1.5 "Inter";
    text-align: justify;
    margin: 0 0 50px 0;
    width: 499px;
  }

  .hero_text span {
    color: #5c4eae;
  }

  .hero_btn {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0 0 33px 0;
  }

  .hero_button {
    background: #5c4eae;
    font: 500 normal 16px / 1.5 "Poppins";
    letter-spacing: 1%;
    color: #fff;
    border-radius: 12px;
    padding: 18px 30px;
  }

  .hero_button_pro {
    padding: 18px 28px;
    background: #fff;
    color: #5c4eae;
    border: 1.5px solid #6c5fbc;
  }

  .hero_raiting {
    display: flex;
    /* align-items: center; */
    gap: 18px;
  }

  .hero_trustpilot {
  }

  .hero_trustpilot_img {
    width: auto;
    height: auto;
  }
  .hero_stars {
    display: flex;
    align-items: center;
  }

  .hero_star {
    margin: 7px 5px 0 0;
  }
  .hero_stars span {
    font: 500 normal 16px / 1.06 "Plus Jakarta Sans";
    opacity: 0.7;
    margin: 0 0 0 2px;
  }

  .hero_star_icon {
    width: 15.96px;
    height: 15.96px;
  }

  .right {
    position: relative;
    max-width: 40%;
    margin-right: 9.5%;
  }

  .hero_right {
    position: relative;
  }

  .hero_right::before {
    content: "";
    position: absolute;
    top: -3%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    background-color: #6c5fbc;
  }

  .hero_right_img {
    vertical-align: top;
    max-width: 100%;
    position: relative;
  }

  .hero_meal {
    position: absolute;
    bottom: 90%;
    left: 40%;
    width: 73%;
  }

  .hero_meal_item {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  .hero_meal_item_img {
    max-width: 23%;
    margin-right: 20px;
  }

  .hero_meal_text {
    width: 100%;
  }

  .hero_meal_title {
    font: 600 normal 16px / 1.375 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_sub_title {
    font: 500 normal 10px / 1.4 "Poppins";
    text-align: left;
    color: #323142;
  }

  .hero_meal_time {
    font: 500 normal 11px / 1.36 "Poppins";
    color: #acadb9;
    text-align: right;
  }

  .hero_graph {
    position: absolute;
    bottom: -15%;
    left: 0;
    max-width: 50%;
  }

  .hero_graph_img {
    background-color: #ffffff;
    box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
    border: 1px solid #edf2f7;
    border-radius: 14px;
    padding: 5px 0;
  }
}
