.reviews {
}

.reviews_container {
  display: flex;
  overflow-x: scroll;
  padding: 0 0 182px 0;
}

.reviews_titles {
  font: 600 normal 45px / 1.7 "Poppins";
  text-align: center;
  padding: 0 0 80px 0;
}

.reviews_titles span {
  color: #6c5fbc;
}

.reviews_list {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.reviews_item {
  width: 528px;
  padding: 38px 43px;
  background-color: #ffffff;
  border: 2px solid #f4f4f6;
  box-shadow: 0 50px 50px rgba(50, 49, 66, 0.2);
  border-radius: 21px;
}

.reviews_header {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin: 0 0 31px 0;
}

.reviews_header::after {
  position: absolute;
  content: "";
  top: 16%;
  right: 0;
  width: 58.69px;
  height: 44.25px;

  background-image: url("/img/reviews/Path 173.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.reviews_img {
}

.reviews_info {
}

.reviews_info_title {
  font-family: Poppins;
  font-size: 20.89px;
  font-weight: 500;
  line-height: 31.34px;
  text-align: left;
  padding: 0 0 1px 0;
}

.reviews_info_subtitle {
  font-family: Quicksand;
  font-size: 16.71px;
  font-weight: 500;
  line-height: 26.12px;
  text-align: left;
  color: #5e5d5d;
}

.reviews_text {
  font: 400 italic 18px / 1.45 "Poppins";
  color: #636363;
  text-align: justify;
}

.reviews_rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 38px 0 0 0;
}

.reviews_rating_star {
  width: 23px;
  height: 23px;
}
