/* .pricing {
  padding: 150px 0 0 0;
  height: 771px;
}

.pricing_container {
}

.pricing_title_ctn {
  background-color: #5c4eae;
  width: 1248px;
  margin: 0 auto;
  height: 334px;
}

.pricing_title {
  font: 600 normal 40px / 1.2 "Poppins";
  padding: 44px 0 0 0;
  letter-spacing: -1px;
  color: #f9f9f9;
  text-align: center;
  position: relative;
}

.pricing_title::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 34%;

  width: 83px;
  height: 77.92px;
  background-image: url("/img/pricing/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0 0 0;
  position: relative;
  right: 0;
}

.pricing_img::after {
  position: absolute;
  top: 1%;
  right: 9.5%;

  content: "";
  width: 46.69px;
  height: 40.44px;
  background-image: url("/img/pricing/01.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing_img::before {
  position: absolute;

  left: 11%;
  bottom: 6%;
  content: "";

  width: 46.69px;
  height: 40.44px;
  background-image: url("/img/pricing/02.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing_img img {
  width: 887px;
  height: 630.76px;
}

.pricing_control {
  margin: 200px 0 0 0;
} */

@media (min-width: 320px) {
  .pricing {
    padding: 150px 0 0 0;
    height: 381px;
  }

  .pricing_container {
  }

  .pricing_title_ctn {
    background-color: #5c4eae;
    width: 314px;
    margin: 0 auto;
    height: 180px;
  }

  .pricing_title {
    font: 600 normal 15px / 1.2 "Poppins";
    padding: 21px 0 0 0;
    letter-spacing: -0.25px;
    color: #f9f9f9;
    text-align: center;
    position: relative;
  }

  .pricing_title::before {
    content: "";
    position: absolute;
    top: 85%;
    left: 26%;

    width: 32.95px;
    height: 30.93px;
    background-image: url("/img/pricing/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pricing_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 41px 0 0 0;
    position: relative;
    right: -30%;
  }

  .pricing_img::after {
    position: absolute;
    top: 1%;
    right: 9.5%;

    content: "";
    width: 46.69px;
    height: 40.44px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pricing_img::before {
    position: absolute;

    left: -24%;
    bottom: -5%;
    content: "";

    width: 22.25px;
    height: 19.27px;
    background-image: url("/img/pricing/02.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pricing_img img {
    width: 422.63px;
    height: 300.54px;
  }
  .pricing_control {
    margin: 200px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .pricing {
    padding: 150px 0 0 0;
    height: 548px;
  }

  .pricing_container {
  }

  .pricing_title_ctn {
    background-color: #5c4eae;
    width: 888px;
    margin: 0 auto;
    height: 237px;
  }

  .pricing_title {
    font: 600 normal 28.44px / 1.2 "Poppins";
    padding: 33px 0 0 0;
    letter-spacing: -0.71px;
    color: #f9f9f9;
    text-align: center;
    position: relative;
  }

  .pricing_title::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 34%;

    width: 59.02px;
    height: 55.41px;
    background-image: url("/img/pricing/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pricing_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
    position: relative;
    right: 0;
  }

  .pricing_img::after {
    position: absolute;
    top: 1%;
    right: 9.5%;

    content: "";
    width: 29.15px;
    height: 25.6px;
    background-image: url("/img/pricing/01.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pricing_img::before {
    position: absolute;

    left: 11%;
    bottom: -8%;
    content: "";

    width: 33.2px;
    height: 28.76px;
    background-image: url("/img/pricing/02.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pricing_img img {
    width: 630px;
    height: 448.54px;
  }

  .pricing_control {
    padding: 50px 0 0 0;
  }
}

@media (min-width: 1440px) {
  .pricing {
    padding: 150px 0 0 0;
    height: 771px;
  }

  .pricing_container {
  }

  .pricing_title_ctn {
    background-color: #5c4eae;
    width: 1248px;
    margin: 0 auto;
    height: 334px;
  }

  .pricing_title {
    font: 600 normal 40px / 1.2 "Poppins";
    padding: 44px 0 0 0;
    letter-spacing: -1px;
    color: #f9f9f9;
    text-align: center;
    position: relative;
  }

  .pricing_title::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 34%;
    width: 83px;
    height: 77.92px;
    background-image: url("/img/pricing/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pricing_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0 100px 0;
    position: relative;
    right: 0;
  }

  .pricing_img::after {
    position: absolute;
    top: 1%;
    right: 9.5%;

    content: "";
    width: 46.69px;
    height: 40.44px;
    background-image: url("/img/pricing/01.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pricing_img::before {
    position: absolute;

    left: 11%;
    bottom: 6%;
    content: "";

    width: 46.69px;
    height: 40.44px;
    background-image: url("/img/pricing/02.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pricing_img img {
    width: 887px;
    height: 630.76px;
  }

  .pricing_control {
    margin: 200px 0 0 0;
  }
}
