/* ---------- ---------- Inter ---------- ---------- */

@font-face {
  font-family: "Inter";
  font-weight: 700;
  /* src: url("../fonts/Inter//Inter-Bold.ttf"); */
  src: url("./Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  /* src: url("../fonts/Inter-SemiBold.ttf"); */
  src: url("./Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  /* src: url("../fonts/Inter-Medium.ttf"); */
  src: url("./Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  /* src: url("../fonts/Inter-Regular.ttf"); */
  src: url("./Inter/Inter-Regular.ttf");
}
/* ---------- ---------- Monrope ---------- ---------- */

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: url("./Manrope/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("./Manrope/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("./Manrope/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("./Manrope/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("./Manrope/Manrope-Regular.ttf");
}

/* ---------- ---------- Plus Jakarta Sans ---------- ---------- */

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  src: url("./Plus-Jakarta-Sans/PlusJakartaSans-Medium.ttf");
}

/* ---------- ---------- Poppins ---------- ---------- */

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("./Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./Poppins/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./Poppins/Poppins-Bold.ttf");
}

/* ---------- ---------- Public Sans ---------- ---------- */

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  src: url("./PublicSans/PublicSans-Bold.ttf");
}

/* ---------- ---------- Quicksand ---------- ---------- */

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: url("./Quicksand/Quicksand-Medium.ttf");
}

/* ---------- ---------- Roboto ---------- ---------- */

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./Roboto/Roboto-Regular.ttf");
}
